
<div fxLayout="row" fxLayoutAlign="space-evenly">
    <table mat-table [dataSource]="books" class="mat-elevation-z8" fxFlex>
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let element"> {{element.ID}} </td>
        </ng-container>
        <ng-container matColumnDef="author">
            <th mat-header-cell *matHeaderCellDef> Author </th>
            <td mat-cell *matCellDef="let element"> {{element.Author}} </td>
        </ng-container>
        <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef> Title </th>
            <td mat-cell *matCellDef="let element"> {{element.Title}} </td>
        </ng-container>
        <ng-container matColumnDef="published">
            <th mat-header-cell *matHeaderCellDef> Published </th>
            <td mat-cell *matCellDef="let element"> {{element.Published}} </td>
        </ng-container>
        <ng-container matColumnDef="notes">
            <th mat-header-cell *matHeaderCellDef> Notes </th>
            <td mat-cell *matCellDef="let element"> {{element.Notes}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let book; columns: columnsToDisplay"></tr>
    </table>
</div>