<h1 class="title">Add Book</h1>

<form novalidate #addBookForm="ngForm" (ngSubmit)="addBookForm.valid && addBook()">
    <div fxLayout="row">
        <mat-form-field fxFlex>
            <input matInput #author="ngModel" [(ngModel)]="form.author" type="text" id="author" name="author" placeholder="Author" pattern="^[a-zA-Z\-\._ ]{1,255}$" required />
        </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <mat-form-field fxFlex>
            <input matInput #title="ngModel" [(ngModel)]="form.title" type="text" id="title" name="title" placeholder="Title" pattern="^.{1,255}$" required />
        </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <mat-form-field fxFlex>
            <input matInput [matDatepicker]="publishedDatepicker" #published="ngModel" [(ngModel)]="form.published" id="published" name="published" placeholder="Publish Date" [max]="date" required>
            <mat-datepicker-toggle matSuffix [for]="publishedDatepicker"></mat-datepicker-toggle>
            <mat-datepicker #publishedDatepicker></mat-datepicker>
        </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <mat-form-field fxFlex>
            <input matInput #notes ="ngModel" [(ngModel)]="form.notes" type="text" id="notes" name="notes" placeholder="Notes" />
        </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="end center">
        <button mat-raised-button fxFlexAlign="center" type="submit">Add Book</button>
    </div>
</form>
